{{- $debug := false }}
{{- $backlinks := site.Home.Store.Get "backlinks" | uniq  }}
{{- with (where $backlinks "target" .RelPermalink) }}
  <div class="backlinks">
    <div class="backlinks-title">
      {{ T "backlinks_title" }}
    </div>
    <ul>
      {{- range (sort . "source.linkTitle" "asc") }}
        <li><a href="{{ .source.relPermalink }}">{{ .source.linkTitle }}</a></li>
      {{- end }}
    </ul>
  </div>
{{- end }}
{{- if $debug }}
  <pre>{{ jsonify (dict "indent" "  ") $backlinks }}</pre>
{{- end }}
